.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal {
    color: black;
    background-color: white;
    position: fixed;
    width: 90%;
    max-width: 700px;
    height: auto;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    padding: 30px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}