body {
    background: linear-gradient(black 10%, rgb(23, 23, 23) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

button {
    background: none;
    outline: none;
    text-decoration: underline;
    padding: 3px;
}

button:hover {
    color: gray;
}

.header {
    height: fit-content;
}

.nav-top {
    padding: 20px 40px;
    width: calc(100% - 80px);
    top: 0;
    position: fixed;
    background: transparent;
}

.nav-top.active {
    padding: 7px 40px;
    background: #bbadf7;
    transition-timing-function: ease-in;
    transition: 1s;
}

.login {
    padding: 10px;
    font-family: inherit;
    font-size: 1.2rem;
    border: 1px solid;
    border-color: white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    text-decoration: none;
    width: fit-content;
}

.login:hover {
    color: rgb(228, 205, 243);
    border-color: rgb(228, 205, 243);
}

.wrapper {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: scroll;
    overflow: hidden;
}

.display-wrapper {
    min-height: 100vh;
    padding: 5%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    font-weight: bolder;
    padding: 50px;
}

.event-title {
    font-size: 100px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 20px #000000, 1px 1px 20px #000000;
}

.event-date {
    font-size: 35px;
}

input.search {
    display: flex;
    width: 50%;
    margin: 0;
}

.search-wrapper {
    display: flex;
    justify-content: center;
}

select {
    padding: 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: rgb(202, 194, 227);
    font-size: 1.25em;
    width: 20%;

}

select:focus {
    outline: none;
    box-shadow: 0px 0px 10px 0px rgb(185, 168, 230);
}

.selectby-text {
    font-size: 1.75em;
    padding: 10px 10px 10px 5%;
}

.no-events {
    text-align: center;
    padding-top: 5%;
}

@media screen and (max-width: 600px) {
    .wrapper {
        height: 100vh;
        background-image: url("../images/background.jpg");
        background-size: cover;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        overflow-x: scroll;
        padding: 0 75px;
    }
}